
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }
    
    function getUserData(userId) {
      return get(/databases/$(database)/documents/companies/$(request.auth.token.companyId)/employees/$(userId)).data;
    }

    function isEmployeeOf(companyId) {
      return isSignedIn() && request.auth.token.companyId == companyId;
    }
    
    function isAdmin() {
      return isEmployeeOf(request.auth.token.companyId) && getUserData(request.auth.uid).role == 'Admin';
    }

    function hasPermission(permission) {
        return isEmployeeOf(request.auth.token.companyId) && getUserData(request.auth.uid).permissions.hasAny([permission]);
    }

    match /companies/{companyId} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }

    match /companies/{companyId}/employees/{employeeId} {
      allow get: if isEmployeeOf(companyId) && (request.auth.uid == employeeId || isAdmin());
      allow list: if isEmployeeOf(companyId);
      allow create, update, delete: if isAdmin();
    }
    
    match /companies/{companyId}/catalogProducts/{productId} {
        allow read: if isEmployeeOf(companyId);
        allow write: if isAdmin();
    }

    match /companies/{companyId}/catalogCategories/{categoryId} {
        allow read: if isEmployeeOf(companyId);
        allow write: if isAdmin();
    }

    match /companies/{companyId}/products/{productId} {
      allow read: if isEmployeeOf(companyId) && hasPermission('inventory');
      allow write: if isAdmin();
    }
    
    match /companies/{companyId}/sales/{saleId} {
      allow read: if isEmployeeOf(companyId) && hasPermission('sales');
      allow write: if isEmployeeOf(companyId); // All employees can sell
    }
    
    match /companies/{companyId}/productions/{productionId} {
      allow read: if isEmployeeOf(companyId) && hasPermission('production');
      allow write: if isAdmin();
    }
    
    match /companies/{companyId}/orders/{orderId} {
      allow read: if isEmployeeOf(companyId) && hasPermission('orders');
      allow write: if isAdmin();
    }
  }
}
